<?xml version="1.0" encoding="utf-8"?>
<resources>

	<!-- To start using the app, you will need to request this information to AngelList -->
	<!-- Rename this file to credentials.xml, remove the comments tags and set your values -->
    <!--
    <string name="client_id">xxxxxxxxxxxxxxxxxx</string>
    <string name="client_secret">yyyyyyyyyyyyyyyyyyyyy</string>
    -->
    </resources>